.highlight {
  background-color: yellow;
  color: #000;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.btn {
  width: fit-content;
  color: #000;
}

.default {
  background-color: #fafbf6;
}

.clicked {
  background-color: #565a75;
  pointer-events: none;
}
