body {
  background-color: #565a75;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.title {
  color: #fafbf6;
  font-size: 3rem;
  text-align: center;
}

.sub {
  color: #fafbf6;
  font-size: 2rem;
}

.link {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  border: 2px black solid;
  background-color: #c6b7be;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: fit-content;
}

.container {
  padding: 1rem;
  max-width: 1344px;
}

.text {
  color: #fafbf6;
}

.center {
  text-align: center;
}
